    *{
        margin: 0px;
        padding: 0px;
    }
    .cv{
        background-color: #93898c;
    }
    body,html{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .line{
        width: 100%;
        height: 2px;
        background: #ff9999;
    }
    ul{
        list-style: none;
    }
    .main{
        width: 800px;
        height: 100%;
        margin: 0px auto ;
        background-color: #ffffff;
        position: relative;
    }
    .hi{
        width: 60px;
        height: 82px;
        border-radius: 50%;
        position: absolute;
        top:230px;
        right:65px;
        display: none;
    }
    h3{
        background-color:#ff9999;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
    }
    p{
        line-height: 20px;
        margin: 10px 10px;
    }
    .top{
        height:230px;
        background-color: #ff9999;
        position: relative;
    }
    .circle{
        border-radius: 50%;
        height:190px;
        width: 190px;
       position: relative;
        background-color: #c3c4c6;
       top: 20px;
        left: 20px;
        float: left;
    }
    .circle img{
        border-radius: 50%;
        height:180px;
        width: 180px;
        position: absolute;
        top: 5px;
        left:5px;
    }
    li  .flower{
        width: 30px;
        margin-left: 650px;
        margin-bottom: -13px;
    }
    .personel .character {
        display: inline-block;
        border: 1px solid #ffffff;
        border-radius: 3px;
        font-size: 15px;
        color: #ffffff;
        margin-left: 10px;
        padding: 5px;
    }
    .personel .name{
        font-size: 30px;
        font-weight: 600;
        color: #ffffff;
        display: inline-block;
    }
    .self{
        font-size: 18px;
        color: #ffffff;
        margin-top: 10px;
    }
    .self span {
        margin-left: 5px;
    }
    .personel{
        position: absolute;
        top:50%;
        left: 250px;
        transform:translate(0,-50%);
    }
    ul li{
        margin-top: 20px;
    }
    .bottom{
        padding: 20px;
    }
    .evaluation p{
        line-height: 30px;
    }